*,
        *:before,
        *:after {
            box-sizing: border-box;
        }


body {
    background: rgb(204,204,204); 
  }


  @media print {
    body, page {
      margin: 0;
      box-shadow: 0;
    }
  }
 
        .toolbar,
        .tool-list {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 1rem;
            overflow: hidden;
            border-radius: 10px;
        }

        .tool,
        .tool--btn {
            display: block;
            border: none;
            padding: .5rem;
            font-size: 20px;
        }

        #output {
      width: 21cm;
     height: 29.7cm; 
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
            padding: 4rem 2rem;
            
        }
/*
        #output2 {
            height: 400px;
            width: 300px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            margin: 1rem;
            padding: 4rem 2rem;
            
        }*/
